In [4]:
## case sensitive
name="Aditya"
Name="Singh"
print(name)
print(Name)

Aditya
Singh

In [5]:
##Indentation for structure and defining blocks in code unlike braces in java
age = 20
if age>10:
    print("hello world")

hello world

In [11]:
#multi statement
x=1;y=2;z=3
print(x+y+z)

6
20

In [14]:
#variable assignments 
#dont need to define data types
#no need to declare variables to reserve memory space.
age=10
name="Aditya"
print(type(name))
print(type(age))

<class 'str'>
<class 'int'>

In [15]:
#variables continued: (auto datatypes assignment)
#python is dynamicaally typed
name="Aditya"
age=24
height=5.11
is_Employee=True

print("name : ",name)
print("age : ", age)
print("employee :", is_Employee)
print("height :",height)

name :  Aditya
age :  24
employee : True
height : 5.11

In [17]:
### Type conversion
age=10 #int
age_str=str(age) #converts into string like typecasting in java
print(type(age))
print(type(age_str))
print(age_str)
print(age,age_str)

<class 'int'>
<class 'str'>
10
10 10

In [18]:
#input from user
age=input("enter the age")
print(age,type(age))
## the type comes as string but we can type cast it again.

12 <class 'str'>

In [ ]:
#simple calculator with opeartors
num1=float(input("enter first number"))
num2=float(input("enter second number"))
sum=num1+num2
diff=num1-num2
mul=num1*num2
div=num1/num2
print("sum : ",sum, " diff : ",diff," mul : ",mul, " div : ",div)

sum :  14.0  diff :  10.0  mul :  24.0  div :  6.0

In [23]:
##if elif else
age=14
if age>18:
    print("Adult")
elif age>13:
    print("teen")
else:
    print("child")

teen

In [ ]:
#loop (start index, end(not included), step)
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [25]:
#reverse loop
for i in range(10,1,-3):
    print(i)

10
7
4